---
import { format } from 'fecha';

export interface Frontmatter {
  title: string;
  description: string;
  published: string;
  updated: string;
  status: string;
  tags: string[];
}

export interface Props {
  content: Frontmatter;
}

const {
  title,
  description,
  published,
  updated,
  status,
  tags = [],
  headerMeta = []
} = Astro.props.content;
---

<style lang="scss">
  @use "../styles/theme";

  header {
    font-size: 0.90em;
    font-family: theme.$font-serif;
    font-style: italic;
  }

  p {
    margin: 0.5em 0;
  }

  h1 {
    margin: 0;
    margin-bottom: 16px;

    text-align: center;
    font-variant: small-caps;
    text-align: center;
    font-size: 2.75em;
    hyphens: auto;
  }

  div {
    margin: 0.5em 0;
  }

  .tags {
    a {
      margin-right: 0r.25em;
      color: inherit;
    }
  }
</style>

<header>
  <h1>{title}</h1>

  <p>{description}</p>

  <!--- There are two conditional JSX expressions here because of an Astro bug with fragments -->
  {headerMeta &&
    <div class="tags">
      {tags.slice(0, -1).map((tag) => 
        <span><a href={`/tags/${tag}`}>{tag}</a>, </span>
      )}
      <a href={`/tags/${tags.slice(-1)}`}>{tags.slice(-1)}</a>
    </div>
  }

  {headerMeta &&
    <div class="other">
      published: {format(published, "isoDate")},
      updated: {format(updated, "isoDate")},
      status: {status}
    </div>
  }
</header>
