---
import PageLayout from "./PageLayout.astro";

import "~/styles/type.scss";
import "~/styles/links.scss";

import "katex/dist/katex.min.css";

import "@fontsource-variable/fira-code";

export interface Props {
	title: string;
	published: Date;
	updated: Date;
	readingTime: number;
}
const { title, published, updated, readingTime } = Astro.props;
---

<PageLayout {title}>
	<header class="type">
		<h1>{title}</h1>

		<div class="metadata">
			<time datetime={published.toISOString()} title="Date of publication">
				{published.toLocaleDateString()}
			</time>
			&ndash;
			<time datetime={updated.toISOString()} title="Date of last update">
				{updated.toLocaleDateString()}
			</time>
			<span class="sep">&middot;</span>
			<span class="reading-time" title="Time to read at 200 words per minute">
				{Math.round(readingTime)} minute read
			</span>
		</div>
	</header>

	<main class="type">
		<slot />
	</main>
</PageLayout>

<style is:global lang="scss">
    header.type {
        h1 {
            margin-bottom: 1rem;
        }
    }

	.metadata {
		font-size: 0.9em;

		.sep {
			margin: 0 0.5ch;
		}
	}
</style>
