---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";

import "../styles/typography.scss";

const { content } = Astro.props;
const { title, description, published, author, language } = content;
---

<html lang={language ?? "en"}>
    <head>
        <BaseHead {title} {description} />
    </head>
    
    <body>
        <div class="nav-container"><Nav /></div>

        <main class="typography-full">
            <h1>{title}</h1>
            <p>{description}</p>
            <!-- TODO: add tags -->
            <p>author: {author}, published: {published}</p>

            <hr />

            <slot />
        </main>
    </body>
</html>

<style lang="scss">
    main {
        max-width: 75ch;
        margin: auto;
        padding: 0 32px;

        h1 {
            font-size: 4em;
            padding: 0 16px;
        }

        p {
            padding: 0 0.5em;
            font-size: 0.85em;
            font-style: italic;
        }

        hr {
            width: 100px;
            margin: 32px auto;
        }
    }
</style>