---
import { Markdown } from "astro/components";
import Page from "./Page.astro";
import "katex/dist/katex.min.css";

export interface Props {
	content: {
		title: string;
		author?: string;
		published?: string;
		description?: string;
		tags?: string[];
		dropcap?: boolean;
	};
}
const { content } = Astro.props as Props;
const { title, author, published, description, tags, dropcap = true } = content;
---

<Page>
	<meta slot="head" name="author" content={author ?? "Max Niederman" } />
	<meta slot="head" name="description" content={description ?? "Blog post on Max Niederman's website." } />
	<title slot="head">{title}</title>

	<header>
		<h1>
			{title}
		</h1>
		<table class="meta">
			<tbody>
				{author && <tr>
					<th>Author</th>
					<td>
						{author}
					</td>
				</tr>}
				{published && <tr>
					<th>Published</th>
					<td>
						{published}
					</td>
				</tr>}
				{tags && <tr>
					<th>Tags</th>
					<td>
						<ul>{tags.map((tag) =>
							<li><a href={`/tags/${tag}`}>{tag}</a></li>)}
						</ul>
					</td>
				</tr>}
				{description && <tr>
					<th>Description</th>
					<td>
						<Markdown>{description}</Markdown>
					</td>
				</tr>}
			</tbody>
		</table>
	</header>

	<div class:list={{ dropcap }}>
		<slot />
	</div>
</Page>

<style lang="scss">
	header {
		table.meta {
			margin: auto;
			table-layout: fixed;

			font-style: italic;
			color: var(--color-meta);

			a {
				color: var(--color-meta);

				&:hover {
					color: var(--color-link);
				}
			}

			td {
				ul {
					display: inline;
					list-style: none;
					margin: 0;

					li {
						display: inline;

						&::before {
							content: ", ";
						}

						&:first-child::before {
							content: none;
						}
					}
				}
			}

			th {
				width: min-content;
				padding-right: 1em;

				text-align: right;
				text-transform: lowercase;

				&::after {
					content: ":";
				}
			}
		}
	}

	@font-face {
		font-family: "Kanzlei Initialen";
		src: url("/fonts/Kanzlei-Initialen.ttf");
		font-display: swap;
	}
</style>